<script src="https://apis.google.com/js/plusone.js">
</script>
<div class="g-comments"
  data-href="{{@blog.url}}{{url}}"
  data-width="600"
  data-first_party_property="BLOGGER"
  data-view_type="FILTERED_POSTMOD">
</div>
