  {{#if @blog.logo}}
  <a href="{{@blog.url}}"><img src="{{@blog.logo}}" class="pure-img logo logo-small" alt="Blog Logo" /></a>
  {{else}}
  <p class="page-title page-title-small"><a href="{{@blog.url}}" class="page-title-link">{{@blog.title}}</a></p>
  {{/if}}
