<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {{#is "home"}}
    <title>{{meta_title}} - {{meta_description}}</title>
  {{else}}
    <title>{{meta_title}}</title>
  {{/is}}

  <meta name="description" content="{{meta_description}}" />
  <meta name="apple-mobile-web-app-title" content="{{meta_title}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-min.css">

  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{{body}}}

  <footer class="site-footer">
    <hr />
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    <section class="poweredby">Powered by <a href="https://ghost.org">Ghost</a> using Swifty-Ghost theme</section>
  </footer>

  {{!> google-analytics}}
  {{!> code-highlight}}

  {{ghost_foot}}
</body>
</html>
