{{!< default}}

<header class="main-header">
  {{#if @blog.logo}}<a href="{{@blog.url}}"><img class="pure-img logo" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{else}}
  <p class="page-title"><a href="{{@blog.url}}" class="page-title-link">{{@blog.title}}</a>{{/if}}</p>
  <p class="page-description">{{@blog.description}}</p>
  <hr>
</header>

<main id="content" class="pure-g content" role="main">
  {{#foreach posts}}
    <div class="article pure-u-11-12">
      <div class="list-title"><a href="{{url}}" class="list-title-link">{{title}}</a></div>
      <div class="date-and-tags">{{date published_at format="MMMM DD, YYYY"}} {{#if tags}}&nbsp;
        {{#foreach tags}}
          <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>&nbsp;&nbsp;
        {{/foreach}}
      {{/if}}</div>
      <div class="list-article">{{excerpt words="100"}}...</div>
    </div>
  {{/foreach}}
  <div class="pagination pure-u-1">{{pagination}}</div>
</main>
