{{!< default}}

{{#post}}
<header class="main-header">
  {{! Change false to true to enable a logo usage in the header }}
  {{#if false}} 
  {{> post-logo}}
  <p class="post-title">{{title}}</p>
  {{else}}
  <a href="{{@blog.url}}"><p class="post-title title-alone">{{title}}</p></a>
  {{/if}}

  <p class="post-date">{{date published_at format="MMMM DD, YYYY"}}</p>
  {{#if tags}}
  <p class="post-tags">
    {{#foreach tags}}
    <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>&nbsp;
    {{/foreach}}
  </p>
  {{/if}}
  <hr />
</header>

<main class="pure-g content" role="main">
  <article class="{{post_class}} pure-u-11-12">
    <section class="post-content">
      {{content}}
    </section>
    <footer class="post-footer">
      <section class="share">
        <p class="share-title">Share this post on: 
          <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            Twitter,
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            Facebook
          </a> or 
          <a href="https://plus.google.com/share?url={{url absolute="true"}}"
            onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            Google+
          </a>
	</p>
      </section>
    </footer>
    <hr />
    {{!> comments-disqus}}
    {{!> comments-facebook}}
    {{!> comments-google-plus}}
  </article>
</main>

{{/post}}
