body,  .pure-g [class *= "pure-u"] {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

.page-title {
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 60px;
}

.page-title-small {
  padding-top: 20px;
  font-size: 35px;
  margin-bottom: -10px;
}

.page-description {
  font-weight: 300;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-header {
  text-align: center;
  background-color: #efefef;
}

.list-title {
  font-size: 32px;
  font-weight: 400;
  text-indent: -2px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  text-underline: none;
  color: #616161; 
}

a:focus,
a:hover {
  color: #178b6b;
  outline: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}

.list-article {
  font-size: 19px;
  font-weight: 300;
  text-align: justify;
  line-height: 28px;
}

.date-and-tags {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
  color: #afafaf;
}

.tag {
  color: #afafaf;
  border: 1px;
  border-style: dashed;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}

.post-footer,
.article {
  margin-bottom: 25px;
  margin-top: 25px;
}

.site-footer {
  font-size: 13px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

.post-title {
  font-size: 42px;
  font-weight: 300;
  margin: 10px;
}

.post-header {
  text-align: center;
}

.title-alone {
  display: inline-block;
  padding-top: 20px;
}

.post-tags,
.post-date {
  font-size: 18px;
  font-weight: 300;
  color: #afafaf;
  margin: 10px;
}

.content {
  justify-content: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

code {
  background-color: #efefef;
  padding: 2px 4px;
}

pre {
  background-color: #efefef;
  display: block;
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
  padding: 1em;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: #4A4A4A 0.4em solid;
  padding-left: 20px;
}

blockquote p {
  font-style: italic;
}

.pagination {
  font-weight: 300;
  font-size: 19px;
  text-align: center;
}

.logo {
  max-height: 200px;
  display: initial;
  margin-top: 20px;
}

.logo-small {
  max-height: 100px;
  margin-bottom: 0px;
}

mark {
  background-color: #d0ffc9;
}

hr {
  height: 1px;
  border: none;
  color: #dfdfdf;
  background-color: #dfdfdf;
}

